body {
  background-color: #42b0f5;
  overflow: hidden;
}
.url-input {
  width: 300px;
  height: 30px;
  font-size: 16px;
  padding: 5px;
}

.submit-button {
  margin-top: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.myForm {
  text-align: center;
}
